
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

# Ignore environment files
.env

# Ignore system-specific files
.qodo
.DS_Store

# Ignore specific public files
/public/info.php
/public/uploads/