{% extends 'base.html.twig' %}
{% block title %}Administrateur{% endblock %}

{% block navbar %}
    {% include 'admin/_navbarAdmin.html.twig' %}
{% endblock %}


{% block body %}
<section>
  Ceci est un dashboard de qualitey
</section>

{% endblock %}