{% extends 'base.html.twig' %}
{% block title %}Liste des produits{% endblock %}

{% block body %}
<section>
  <ul>
  {% for product in products %}
    <li>
      {{product.name}}
    </li>
    {% endfor %}
  </ul>
</section>

{% endblock %}